.messagesList {
  &__wrapper {
    overflow: hidden;
    height: 100%;
    background-image: url("/background.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 100px 100px;
  }

  &__spinner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
